:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #344449;
  color: #fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: rgb(245, 245, 245, 0);
  outline: none;
}


::-webkit-scrollbar-thumb {
  background-color: $themeColor !important;
}

::-webkit-scrollbar-thumb {
  background-color: $themeColor;
  border-radius: 20px;
  // border: 1px solid rgb(245, 245, 245);
  transition: 1s all;
}

#app {
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 10px;
  user-select: none;
}

img,
a {
  -webkit-user-drag: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

iframe {
  outline: none;
  background: transparent;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
